<div class="header">
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav>
    <a class="button" href="{{ site.baseurl }}/">Blog</a>
    <a class="button" href="{{ site.baseurl }}/about">About me</a>
    <a class="button" href="{{ site.baseurl }}/projects">Projects</a>
    <a class="button" href="{{ site.baseurl }}/contact">Contact</a>
    <a class="button hire-me-nav" href="{{ site.baseurl }}/hire-me">Hire Me</a>
  </nav>
</div>
<div class="mini-hero">
  <h2>"Programmer: An entity that consumes coffee and produces code"</h2>
</div>