// Fonts
@font-face {
  font-family: Mulish;
  src: url('/assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype supports variations'),
       url('/assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}

// Variables
$body_font: Mulish,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$primary_1: #50514F;
$primary_2: #3C3C3C;
$primary_3: #212121;
$background_1: #FBFEF9;
$background_2: #CFD8CF;
$accent_1: #D7263D;
$background_color: #{$background_1};
$text_color: #{$primary_1};

// General styles
body {
  background: $background_color;
  color: $text_color;
  font-family: $body_font;
  margin: 0px;
}
p, h1, h2, h3, h4, h5 { margin: 0px; }
.header { display: flex; justify-content: space-between; align-items: center; padding: 1em 2em; gap: 32px;
  h1 { white-space: nowrap; }
  nav { display: flex; padding: 0px; margin: 0px; gap: 32px; flex-wrap: wrap;
    div { list-style: none; }
  }
}
.main-content { padding: 2em 3em; width: 80%; max-width: 900px; margin: 0 auto; overflow: hidden;
  h3 { font-size: 16px; }
}

// Mini hero
.mini-hero { border-top: 2px solid black; border-bottom: 2px solid black; padding: 1em 0px; margin-top: 1em; background-color: $background_2;
  h2 { text-align: center; font-size: 14px; font-style: italic; }
}

// Buttons
a { text-decoration: none; color: $text_color; }
.button {
  padding: 4px 12px 6px 12px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  color: $primary_2;
  background-color: $background-2;
  &:hover { background-color: #f0f0f0; }
}
.button-thin {
  padding: 2px 8px 4px 8px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  color: $primary_2;
  background-color: $background-2;
  &:hover { background-color: #f0f0f0; }
}

// Posts
.post-container { margin-top: 2em;
  .post-header { display: flex; justify-content: space-between; align-items: center; gap: 16px; flex-wrap: wrap;
    p { margin: 0px; font-style: italic; }
  }
}
.post-list-container { margin-top: 2em;
  .post-list { margin: 12px auto 0px auto; width: 100%; display: flex; gap: 32px; flex-direction: column;
    .post-list-post { padding: 14px; border: 1px solid black; border-radius: 8px;
      .post-list-title { margin: 0px; }
    }
  }
}

// Projects
.projects-container { margin-top: 2em; display: flex; gap: 32px;
  .project { padding: 14px; border: 1px solid black; border-radius: 8px; width: 100%;

  }
}

// Misc

.line-break { border-top: 2px solid black; margin: 1em 0px; }
.line-break-thin { border-top: 1px solid black; margin: 1em 0px; }

// Responsive

@media (max-width: 768px) {
  .header { padding: 1em; flex-direction: column; 
    nav { gap: 16px; }
  }
  .main-content { padding: 1em; max-width: 100%; }
}
@media (max-width: 550px) {
  .header nav { text-align: center; flex-direction: column; gap: 8px; width: 95%;
    .button { padding: 0.4em 1em; }
  }
}