// Fonts
@font-face {
  font-family: Mulish;
  src: url('/assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype supports variations'),
       url('/assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}

// Variables
$body_font: Mulish,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$primary_1: #50514F;
$primary_2: #3C3C3C;
$primary_3: #212121;
$background_1: #FBFEF9;
$background_2: #CFD8CF;
$accent_1: #D7263D;
$accent_2: #659DBD;
$background_color: #{$background_1};
$text_color: #{$primary_3};

// General styles
* { box-sizing: border-box; }
body {
  background: $background_color;
  color: $text_color;
  font-family: $body_font;
  margin: 0px;
}
p, h1, h2, h3, h4, h5 { margin: 0px; }
p { line-height: 1.5; }
.header { display: flex; justify-content: space-between; align-items: center; padding: 1em 2em; gap: 32px;
  h1 { white-space: nowrap;
    a { color: $primary_3;}
  }
  nav { display: flex; padding: 0px; margin: 0px; gap: 32px; flex-wrap: wrap;
    div { list-style: none; }
    a {
      color: $primary_3;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;
      
      display: inline-block;
      padding: 15px 20px;
      position: relative;
    }
    a:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $primary_3;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after { 
      width: 100%; 
      left: 0; 
    }
  }
}
.main-content-container { background-position: center; min-height: calc(100vh - 131px); /* background-image: url('/assets/images/background-2.webp'); */ }
.main-content { padding: 4em 3em 2em 3em; width: 80%; max-width: 900px; margin: 0 auto; overflow: hidden;
  h1, h2, h3, h4, h5 { margin-bottom: 16px; }
  h3 { font-size: 16px; }
}

// Mini hero
.mini-hero { border-top: 2px solid $primary_3; border-bottom: 2px solid $primary_3; padding: 1em 0px; background-color: $background_2; 
  h2 { text-align: center; font-size: 18px; font-style: italic; color: $primary_2; }
}

// Buttons
a { text-decoration: none; color: $text_color; }
a[disabled] { opacity: 50%; }
.button {
  padding: 4px 12px 6px 12px;
  // border: 1px solid $primary_3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  color: $primary_2;
  // background-color: $background-2;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
  // &:hover { background-color: #f0f0f0; }
  // &:focus { box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; }
}
.button-thin {
  padding: 2px 8px 4px 8px;
  // border: 1px solid $primary_3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  color: $primary_2;
  // background-color: $background-2;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
  // &:hover { background-color: #f0f0f0; }
  // &:focus { box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; }
}

// Icons
.icon { width: 16px; height: 16px; position: relative; top: 3px; }
.icon.right-chevron { transform: rotate(180deg); }

// Posts
.post-container { margin: 4em auto 2em auto; max-width: 720px; padding: 14px; border: 1px solid $primary_3; border-radius: 8px; backdrop-filter: blur(10px);
  .post-header { display: flex; justify-content: space-between; align-items: center; gap: 16px; flex-wrap: wrap;
    h1 { margin: 0px; }
    p { margin: 0px; font-style: italic; }
  }
  .post-content { 
    h1, h2, h3, h4, h5 { margin-bottom: 16px; margin-top: 16px; }
    p { margin-bottom: 24px; line-height: 1.8; }
    a { color: $primary_2; text-decoration: underline; }
    pre {
      background: #f9f9f9;
      border-radius: 16px;
      padding: 0px 12px 20px 12px;
      overflow-x: auto;
    }
  }
}
.post-list-container { margin-top: 2em;
  .post-list { margin: 12px auto 0px auto; width: 100%; display: flex; gap: 32px; flex-direction: column;
    .post-list-post { padding: 14px; border: 1px solid $primary_3; border-radius: 8px; backdrop-filter: blur(10px); display: flex; gap: 16px; align-items: center;
      .post-link { display: flex; }
      .post-list-image { max-width: 180px; max-height: 180px; border-radius: 8px; }
      .post-title { margin: 0px 0px 8px 0px; font-size: 20px; }
      .post-date { margin-bottom: 4px; }
      .post-excerpt { margin-bottom: 16px; }
      .post-footer { display: flex; justify-content: space-between; align-items: center; gap: 16px; flex-wrap: wrap;
        .post-tags { display: flex; gap: 8px; 
          .tag-card { padding: 0px 8px 2px 8px; border: 1px solid $primary_3; border-radius: 4px; font-size: 14px; }
        }
      }
    }
  }
}
.pagination { display: flex; justify-content: center; gap: 16px; margin-top: 2em; align-items: center; }
.post-featured-image-container {
  width: 100%;
  max-width: 100%; 
  height: auto; 
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden; 
  margin-bottom: 32px;
}

.post-featured-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  max-width: 500px;
  border-radius: 8px;
}


// About me
.about-me-container { display: flex; flex-direction: row; border: 1px solid #3C3C3C; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; }
.about-me-container .about-me-info { width: 50%; }
.about-me-container .about-me-info .about-me-info-inner { padding: 48px; }
.about-me-container .swiper { max-width: 600px; width: 50%; height: auto;  border-left: 1px solid #3C3C3C; border-radius: 0px 8px 8px 0px; }
.about-me-container .swiper-slide { text-align: center; font-size: 18px; display: flex; justify-content: center; align-items: center; }
.about-me-container .swiper-slide a { height: 100%; }
.about-me-container .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; }
.about-me-container .swiper-button-prev { background-image: url(/assets/images/icons/arrow-left.webp) !important; background-repeat: no-repeat; background-size: 100% auto; background-position: center; }
.about-me-container .swiper-button-next { background-image: url(/assets/images/icons/arrow-left.webp) !important; background-repeat: no-repeat; background-size: 100% auto; background-position: center; transform: rotate(180deg); }
.about-me-container .swiper-button-next::after { display: none; }
.about-me-container .swiper-button-prev::after { display: none; }
.about-me-container .swiper-pagination-bullet-active { background-color: #3C3C3C; }


// Projects
.projects-container { margin-top: 3em; display: flex; gap: 32px; flex-direction: column;
  .project { display: flex; gap: 32px; align-items: center;
    .project-image { min-width: 300px; height: 300px; border-radius: 8px; overflow: hidden; border: 1px solid $primary_3; 
      img { width: 100%; height: 100%; object-fit: cover; }
    }
    .project-info { display: flex; flex-direction: column; gap: 16px; }
  }
}
.projects-container.game-archive { margin-top: 1em;
  .project-image { min-width: 150px; width: 150px; height: 150px; }
}

// Contact me
.contact-form form { padding: 20px 40px; }
.contact-form label, .contact-form select, .contact-form input, .contact-form textarea, .contact-form button { 
  display: block; width: 100%; border: none; cursor: pointer; border-radius: 2px;
}
.contact-form textarea { height: 120px; }
.contact-form button, .contact-form select, .contact-form input { height: 40px; }
.contact-form .form-row { display: flex; justify-content: space-between; gap: 24px; }
.contact-form .form-element { display: flex; flex-direction: column; gap: 8px; width: 100%; }
.contact-form {
  input, textarea, select, button { border: 1px solid grey; border-radius: 4px; }
}

// Misc

p a { font-weight: bold; color: $primary_2; text-decoration: underline; }
.line-break { border-top: 2px solid $primary_3; margin: 1em 0px; }
.line-break-thin { border-top: 1px solid $primary_3; margin: 1em 0px; }
.text-background { background-color: rgba(55, 62, 70, 0.1); backdrop-filter: blur(10px); }
.p-1 { padding: 0.5em; }
.p-2 { padding: 1em; }
.p-3 { padding: 1.5em; }
.p-4 { padding: 2em; }
.pb-1 { padding-bottom: 0.5em; }
.pb-2 { padding-bottom: 1em; }
.pb-3 { padding-bottom: 1.5em; }
.pb-4 { padding-bottom: 2em; }
.mb-1 { margin-bottom: 0.5em; }
.mb-2 { margin-bottom: 1em; }
.mb-3 { margin-bottom: 1.5em; }
.mb-4 { margin-bottom: 2em; }
.mt-1 { margin-top: 0.5em; }
.mt-2 { margin-top: 1em; }
.mt-3 { margin-top: 1.5em; }
.mt-4 { margin-top: 2em; }
.rounded { border-radius: 8px; }
.element-shadow { box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; }

// Responsive

@media (max-width: 768px) {
  .header { padding: 1em; flex-direction: column; 
    nav { gap: 16px; }
  }
  .main-content { padding: 4em 1em; max-width: 100%; }
  .contact-form .form-row { flex-wrap: wrap; }
  .post-list-container .post-list .post-list-post { flex-direction: column; }
  .post-list-container .post-list .post-list-post .post-link { max-height: 220px; }
  .post-list-container .post-list .post-list-post .post-list-image { max-width: 100%; max-height: 100%; object-fit: cover; }
  .about-me-container .about-me-container { flex-direction: column; }
  .about-me-info { width: 100%; }
  .projects-container .project { flex-direction: column; }
  .projects-container { gap: 64px; }
  .contact-form form { padding: 10px 0px; }
  .about-me-container .swiper { width: 100%; border-radius: 0px 0px 8px 8px; border-left: none; }

  #kaiwa-box .comment-details { flex-direction: column; gap: 12px; }
}
@media (max-width: 550px) {
  .header nav { text-align: center; flex-direction: column; gap: 8px; width: 95%;
    .button { padding: 0.4em 1em; }
  }
}