<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <div class="main-content">
      {{ content }}

      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}


      {%- if posts.size > 0 -%}
        <div class="post-list-container">
          <h3>Posts</h3>
          <hr class="line-break">

          {%- if page.list_title -%}
            <h2 class="post-list-heading">{{ page.list_title }}</h2>
          {%- endif -%}
          <div class="post-list">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in posts -%}
            <div class="post-list-post">
              <a class="post-link" href="{{ post.url | relative_url }}">
                <h3 class="post-title">
                  {{ post.title | escape }}
                </h3>
                <p class="post-date">{{ post.date | date: date_format }}</p>
                {%- if site.show_excerpts -%}
                  <p class="post-excerpt">{{ post.excerpt }} ...</p>
                {%- endif -%}
              </a>
              <div class="post-footer">
                <div class="post-tags">
                  {%- for tag in post.tags -%}
                    <a href="/tags/{{ tag | slugify }}" class="tag-card">{{ tag }}</a>
                  {%- endfor -%}
                </div>
                <a class="button-thin" href="{{ post.url | relative_url }}">
                  Read more
                  <img src="/assets/images/icons/arrow-left.webp" alt="Read more" class="icon right-chevron">
                </a>
              </div>
            </div>
            {%- endfor -%}
          </div>

          {% if site.paginate %}
            <div class="pagination">
              {%- if paginator.previous_page %}
                <a class="button-thin previous-page" href="{{ paginator.previous_page_path | relative_url }}">
                  <img src="/assets/images/icons/arrow-left.webp" alt="Back" class="icon left-chevron">
                </a>
              {%- else %}
                <a class="button-thin previous-page" disabled>
                  <img src="/assets/images/icons/arrow-left.webp" alt="Back" class="icon left-chevron">
                </a>
              {%- endif %}

              {%- for page in (1..paginator.total_pages) %}
                {%- if page == paginator.page %}
                  <div class="page-link current-page">{{ page }}</div>
                {%- else %}
                  {%- if page == 1 %}
                    <a class="page-link" href="{{ '/' | relative_url }}">{{ page }}</a>
                  {%- else %}
                    <a class="page-link" href="{{ site.paginate_path | replace: ':num', page | relative_url }}">{{ page }}</a>
                  {%- endif %}
                {%- endif %}
              {%- endfor %}

              {%- if paginator.next_page %}
                <a class="button-thin next-page" href="{{ paginator.next_page_path | relative_url }}">
                  <img src="/assets/images/icons/arrow-left.webp" alt="Next" class="icon right-chevron">
                </a>
              {%- else %}
                <a class="button-thin next-page" disabled>
                  <img src="/assets/images/icons/arrow-left.webp" alt="Next" class="icon right-chevron">
                </a>
              {%- endif %}
            </div>
          {%- endif %}

        </div>
      {%- endif -%}
    </div>
  </body>
</html>
