---
layout: default
---
<div class="post-page">
  <a class="button-thin" onclick="window.history.back()">
    <svg class="arrow-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="width: 20px; height: 20px; transform: rotate(180deg);">
      <path d="M9 5l7 7-7 7"/>
    </svg>
    Back
  </a>

  
  <div class="post-container">
    {% if page.featured_image %}
    <div class="post-featured-image-container">
      <img class="post-featured-image" src="{{ page.featured_image }}" alt="{{ page.title }}">
    </div>
    {% endif %}
    
    <div class="post-header">
      <h1>{{ page.title }}</h1>
      <p>Posted on: {{ page.date | date_to_string }}</p>
    {% if page.tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
        <a href="/tags/{{ tag | downcase | replace: ' ', '-' | replace: '%20', '-' }}" class="post-tag">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="line-break-thin"> </div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="author-blurb">
    <h4>About the Author</h4>
    <p>Hi, I'm Jordan Lagan, a full-stack software engineer and web develoepr. I've been writing code professionally since 2017.</p>
    <p>I'm passionate about sharing what I learn and helping other developers grow. If you found this article helpful or have questions, feel free to <a href="/contact">reach out</a> or <a href="/about">learn more about me</a>.</p>
  </div>

  <div id="kaiwa-box"></div>
  <script src="https://kaiwa-app.com/tag/v1/K-D5B648.js"></script>
  <link rel="stylesheet" href="https://kaiwa-app.com/css/theme_default.css">

</div>
</div>