<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <div class="main-content">
      {{ content }}

      <div class="projects-container">
        <h2>My Projects</h2>
        <hr class="line-break">

        <div class="project">
          <h3>Project 1</h3>
          <p>Some cool stuff I built</p>
        </div>

        <div class="project">
          <h3>Project 2</h3>
          <p>Some other cool stuff I built</p>
        </div>

        <div class="project">
          <h3>Project 3</h3>
          <p>Some more cool stuff I built</p>
        </div>
    </div>
  </body>
</html>
